
<div class="login">
  <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
    <div class="registryError" *ngIf="loginError">{{errorDescription}}</div>
    <div>
      <i class="far fa-user login_icons"></i><input type="username" class="username" placeholder="User" formControlName="username">
    </div>
    <div>
      <i class="fas fa-unlock-alt login_icons"></i><input type="password" class="password" placeholder="Password" formControlName="password">
    </div>
      <input class="btnLogin" type="submit" value="Login">

  </form>
</div>
