.registry {
  background-color: white;
}

.registry-container {
  margin-top: 60px;
  background-color: WhiteSmoke;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.registry_input {
  width: 220px;
  height: 35px;
  padding-left: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-width: 0;
  box-shadow: 0px 4px 2px 0 rgba(0, 0, 0, 0.41);
}


.btnRegistry {
  width: 260px;
  height: 35px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border-width: 0;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.41);
  background-color: DimGray;
  color: white;
  cursor: pointer;
}

.registry_icons {
  font-size: 28px;
  color: DimGray;
  margin-right: 8px;
}
